<% layout("layouts/boilerplate") %>
<body>
<div class="assam-page">
    <h3>Assam Ancillary</h3>

    <div class="card-container">
        <% for(let product of assamProducts) { %>
            <a href="/products/assam/<%= product._id %>" style="text-decoration: none; color: inherit;">
                <div class="card mb-3 assam">
                    <div class="row g-0">
                        <div class="col-md-4" style="display: flex; align-items: center;">
                            <img src="<%= product.image.url %>" class="img-fluid rounded-start"
                                 alt="Image Not Found">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.title %></h5>
                                <p class="card-text"><%= product.description %></p>
                                <p class="card-text"><%= product.price %></p>
                                <p class="card-text"><small class="text-body-secondary">Sold By: <%= product.sold_by %></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>
</body>
